@use '../mixins' as *;

main {
  @include page-layout(true);
}

@media (max-width: 1024px) {
  main {
    margin-left: 0;
    padding-top: calc(4rem + 16px);
    padding-bottom: calc(120px + env(safe-area-inset-bottom));
    padding-left: 16px;
    padding-right: 16px;
  }
}
