<main>
  <!-- Forgot Password Card -->
  <div class="forgot-password-container">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center forgot-pass-title">Forgot Password</h5>
        <p class="forgot-pass-info text-secondary">
          Enter your email address below and we'll send you a link to 
          reset your password.
        </p>

        @if (message()) {
          <div class="alert alert-success" role="alert">
            {{ message() }}
          </div>
        }

        @if (error()) {
          <div class="alert alert-danger" role="alert">
            {{ error() }}
          </div>
        }

        <form [formGroup]="forgotPasswordForm">
          <div class="mb-3">
            <input 
              class="form-control" 
              placeholder="Enter your email" 
              formControlName="email" />

            @if(email?.invalid && email?.touched) {
              <span class="text-danger mt-1 error-message">
                Please enter a valid email address.
              </span>
            }
            
          </div>

          <button 
            class="btn btn-primary reset-btn"
            (click)="sendResetLink()"
            [disabled]="forgotPasswordForm.invalid || isLoading()">
              {{ isLoading() ? 'Sending...' : 'Send Reset Link' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</main>