main {
  background-image: url('/assets/auth_bg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh;
  width: 100%;
}

h1 {
  margin: 0;
}