<main>
  <!-- Reset Password Card -->
  <div class="reset-password-container">
    <div class="card">
      <div class="card-body">
        <h5 class="text-center reset-pass-title">Reset Password</h5>
        <p class="reset-pass-info text-secondary">
          Enter your new password below to reset your account password.
        </p>

        @if (message()) {
          <div class="alert alert-success" role="alert">
            {{ message() }}
          </div>
        }

        @if (error()) {
          <div class="alert alert-danger" role="alert">
            {{ error() }}
          </div>
        }

        <form [formGroup]="resetPasswordForm">
          <div class="mb-3">
            <input 
              type="password" 
              class="form-control" 
              placeholder="Enter new password" 
              formControlName="password" />

            @if(password?.invalid && password?.touched) {
              <span class="text-danger mt-1 error-message">
                Password must be at least 8 characters long.
              </span>
            }
          </div>

          <div class="mb-3">
            <input 
              type="password" 
              class="form-control" 
              placeholder="Confirm new password" 
              formControlName="password_confirmation" />

            @if(password_confirmation?.touched && resetPasswordForm.hasError('mismatch')) {
              <span class="text-danger mt-1 error-message">
                Passwords do not match.
              </span>
            }
          </div>

          <button 
            class="btn btn-primary reset-btn"
            (click)="resetPassword()"
            [disabled]="resetPasswordForm.invalid || isLoading() || !token || !email">
              {{ isLoading() ? 'Resetting...' : 'Reset Password' }}
          </button>
        </form>
      </div>
    </div>
  </div>
</main>
